version: '3.8'

services:
  money-mint:
    container_name: money-mint
    image: quewen08/money-mint:latest
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/.output/data
    environment:
      - NODE_ENV=production
      - TZ=Asia/Shanghai
    restart: unless-stopped